body {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #D9FFF5;
    background: #FFFFFF;
    justify-content: space-between;
}
.aside {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    padding-left: 22px;
}
.aside__list {
    margin: 0;
    padding: 0;
}
.aside__logo {
    display: flex;
    padding: 36px 29px 22px 0;
    max-width: 290px;
    justify-content: space-between;
    align-items: center;
}
.aside__list {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.aside-nav {
    margin-top: 25px;
}
.aside__link--active {
    color: #7E7E82;
}
.aside__link--active::before {
    content: "";
    width: 4px;
    height: 29px;
    background: #41F6D7;
    display: inline-block;
    border-radius: 0 9px 9px 0;
    margin-left: -21px;
    position: absolute;
}
.aside__link:hover {
    color: #7E7E82;
}
.aside-contact__list {
    list-style-type: none;
    margin: 32px 0 16px 0;
    padding: 0;
    display: flex;
    gap: 16px;
}
.aside-email {
    font-family: 'TT Lakes Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}
.aside-number {
    margin: 12px 0 8px 0;
    font-family: 'TT Lakes Bold', sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}
.aside-lang__list {
    display: flex;
    gap: 7px;
    font-family: 'TT Lakes Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.aside-lang__item--active {
    color: #7E7E82;
}
.aside-lang__item {
    cursor: pointer;
}
.aside-lang__item:hover {
    color: #7E7E82;
}
.aside-email, .aside-number {
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
}
.aside-email:hover {
    color: #7E7E82;
}
.aside-number:hover {
    color: #7E7E82;
}
.aside__logo--elem::before {
    display: none;
}
.menu__list {
    margin: 0;
    padding: 0;
}
.wrapper {
    background: #F8F8F8;
}
.wrapper-container {
    margin: 0 auto;
    max-width: 1440px;
}
.header__container {
    display: flex;
    align-items: center;
}
.menu-button {
    display: flex;
}
.logo {
    background-image: url("images/logo.svg");
    background-repeat: no-repeat;
    width: 97px;
    height: 51px;
    display: flex;
    align-items: center;
}
.aside__item, .aside__link {
    list-style-type: none;
    text-decoration: none;
    font-family: 'TT Lakes Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    transition: all 0.3s;
}
.header__container::after {
    content: '';
    height: 32px;
    width: 2px;
    background: #EAEAEA;
    display: block;
    margin-left: 17px;
}
.menu-button__mobile {
    display: flex;
    margin: 0 0 0 20px;
    gap: 16px;
    align-items: center;
}
.button__icon--margin {
    margin-right: 16px;
}
.button {
    display: flex;
    align-items: center;
    gap: 16px;
    background: none;
    border: none;
    padding: 0;
}
.button__icon {
    background: #FF3E79;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.button__icon:hover {
    background-color: #8c8688;
    cursor: pointer;
}
.button__text {
    font-family: 'TT Lakes Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}
.main__container-search {
    display: none;
}
.main__container-request {
    display: none;
}
.main__container {
    padding: 24px 0 0 0;
}
.menu__list {
    display: flex;
    column-gap: 25px;
    row-gap: 14px;
    overflow-x: scroll;
    margin: 0 0 24px 16px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    align-items: center;
    max-width: 1035px;
}
.menu__list::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.menu__item, .menu__link {
    list-style-type: none;
    font-family: 'TT Lakes Medium', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    min-width: max-content;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.menu__link--active {
    padding: 8px 10px 8px 17px;
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
.menu__link:hover {
    color: #7E7E82;
}
.main__section__elem {
    margin: 0 0 24px 0;
}
.main__description--about--me {
    font-family: 'TT Lakes Regular', sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin: 0;
    padding: 0;
}
.main__text {
    display: flex;
    max-width: 288px;
    font-family: 'TT Lakes Bold', sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin: 0;
    padding: 0;
}
.main__text::before {
    content: "";
    width: 4px;
    height: 40px;
    background: #41F6D7;
    display: inline-block;
    border-radius: 0 9px 9px 0;
    margin-right: 16px;
}
.main__description__img {
    background-image: url("images/icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.main__description__next {
    text-decoration: none;
    font-family: 'TT Lakes Medium',sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-top: 16px;
    background: none;
    border: none;
    display: flex;
    cursor: pointer;
    transition: all 0.5s;
}
.main__description__next:hover {
    color: #7E7E82;
}
.main__description__box {
    margin: 0 16px 0 16px;
}
.menu-button__laptop {
    display: none;
}
.main__description--continue {
    display: none;
}
.main__description-continue--two {
    display: none;
}
.main__button__elem {
    display: none;
}
.main__image img {
    width: 100%;
    height: 250px;
    margin-top: 16px;
}
.swiper-container {
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}
.swiper-title {
    font-family: 'TT Lakes Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    padding: 16px 0 16px 16px;
    margin: 0;
}
.swiper-slide__icon {
    background-image: url("images/dropdown.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #FF3E79;
    transition: all 0.5s;
}
.swiper-slide {
    width: auto;
}
.swiper-slide--box {
    width: 208px;
    min-height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    padding: 16px;
}
.swiper-wrapper {
    padding: 24px 16px;
    max-width: 1064px;
}
.swiper-pagination {
    position: static;
    padding-bottom: 24px;
}

@media (min-width: 380px) {
    .header__container::after {
        display: none;
    }
}
@media (min-width: 650px) {
    .header {
        justify-content: space-between;
    }
    .header__logo--elem {
        margin: 0 0 0 16px;
    }
    .aside-contact__list {
        margin: 268px 0 16px 0;
    }
    .button__icon8 {
        display: none;
    }
    .header__container::after {
        display: none;
    }
    .menu-button__laptop {
        display: flex;
        margin: 0 20px 0 0;
        padding: 0;
        gap: 16px;
        list-style-type: none;
    }
    .header__logo--elem::before {
        content: '';
        height: 32px;
        width: 2px;
        background: #EAEAEA;
        display: block;
        margin-left: -16px;
    }
    .menu-button__mobile::before {
        content: "";
        height: 32px;
        width: 2px;
        background: #EAEAEA;
        margin-left: -20px;
    }
    .main__description {
        display: flex;
        justify-content: space-between;
    }
    .main__description--continue {
        font-family: 'TT Lakes Regular', sans-serif;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
        display: block;
        margin: 19px 0 0 0;
    }
    .main__container {
        padding: 24px 24px 0 24px;
    }
    .main__text::before {
        content: "";
        width: 4px;
        height: 40px;
        background: #41F6D7;
        display: inline-block;
        border-radius: 0 9px 9px 0;
        margin-left: -24px;
        position: absolute;
    }
    .menu__list {
        margin: 0 0 24px 0;
    }
    .main__description--continue--two {
        display: none;
    }
    .main__description__box {
        margin: 0 18px 0 0;
    }
    .main__button__elem {
        display: none;
    }
    .main__image img {
        width: auto;
        height: auto;
        margin-top: 0;
    }
    .aside__logo {
        max-width: 312px;
    }
}
@media (min-width: 768px) {
    .swiper-wrapper {
        display: flex;
        column-gap: 32px;
        flex-wrap: wrap;
        row-gap: 16px;
        padding: 24px 24px;
    }
    .swiper-title {
        padding: 16px 0 16px 24px;
    }
}
@media (min-width: 1250px) {
    .header {
        padding: 0;
    }
    .header__container {
        display: none;
    }
    .menu-button {
        display: none;
    }
    .wrapper-container {
        display: flex;
    }
    .aside__logo > .button:first-child .button__icon {
        display: none;
    }
    .aside__logo {
        max-width: 320px;
    }
    .aside-number {
        margin: 12px 0 40px 0;
    }
    .container {
        display: flex;
    }
    .main_menu {
        flex-wrap: wrap;
    }
    .main__container {
        padding: 42px 22px 0 34px;
    }
    .menu__list {
        margin: 0 0 24px 0;
        flex-wrap: wrap;
    }
    .menu__item:last-child {
        margin-left: 18px;
    }
    .menu__item:nth-child(5) {
        margin-left: 18px;
    }
    .main__section__elem {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main__button__elem {
        display: flex;
        gap: 32px;
    }
    .button__icon5::before {
        display: none;
    }
    .main__text::before {
        content: "";
        width: 4px;
        height: 40px;
        background: #41F6D7;
        display: inline-block;
        border-radius: 0 9px 9px 0;
        margin-left: -33px;
        position: absolute;
    }
    .main__description__box {
        margin: 0 16px 0 0;
    }
    .main__wrapper {
        display: flex;
    }
    .header__logo--elem {
        margin: 0;
    }
    .main__description--continue--two {
        display: inline;
    }
    .main__container__text {
        display: flex;
        align-items: center;
        font-family: 'TT Lakes Regular', sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        transition: all 0.5s;
    }
    .main__container__text:hover {
        color: #7E7E82;
        cursor: pointer;
    }
    .main__container__text:hover > button {
        background-color: #f54298;
    }
    .main__image img {
        width: auto;
        height: auto;
        margin-top: 0;
    }
    .swiper-wrapper {
        padding: 24px 32px;
    }
    .swiper-title {
        padding: 16px 0 16px 32px;
    }
}
