* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #D9FFF5;
    background: #FFFFFF;
    justify-content: space-between;
}
.wrapper {
    background: #F8F8F8;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.aside {
    display: none;
}
.header__container {
    display: flex;
    align-items: center;
}
.nav {
    display: flex;
}
.logo {
    background-image: url("images/svg/logo.svg");
    background-repeat: no-repeat;
    width: 97px;
    height: 51px;
    margin-right: 17px;
}
a {
    display: flex;
    align-items: center;
}
.header__logo-elem::after {
    content: "";
    height: 32px;
    width: 2px;
    background: #EAEAEA;
    display: inline-block;
}
.header__burger {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 20px;
    position: relative;
    margin-right: 17px;
    cursor: pointer;
}
.header__burger-menu span:first-child {
    content: "";
    height: 2px;
    width: 18px;
    border-radius: 1px;
    background: #FFFFFF;
    display: inline-block;
    position: absolute;
    left: 28%;
    top: 30%;
}
.header__burger-menu span:nth-child(2) {
    content: "";
    height: 2px;
    width: 10px;
    border-radius: 1px;
    background: #FFFFFF;
    display: inline-block;
    position: absolute;
    left: 28%;
    top: 50%;
}
.header__burger-menu span:last-child {
    content: "";
    height: 2px;
    width: 18px;
    border-radius: 1px;
    background: #FFFFFF;
    display: inline-block;
    position: absolute;
    left: 28%;
    top: 70%;
}
.request {
    background-image: url("./images/svg/request.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
}
.search {
    background-image: url("./images/svg/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}
.main__container-search {
    display: none;
}
.main__container-request {
    display: none;
}
.main__container {
    padding: 24px 0 0 0;
}
.main__menu {
    display: flex;
    column-gap: 25px;
    row-gap: 14px;
    overflow-x: scroll;
    margin: 0 0 24px 16px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    align-items: center;
}
.main__menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.main__item {
    list-style-type: none;
    font-family: 'TT Lakes Medium', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    min-width: max-content;
    cursor: pointer;
}
.main__item-border {
    padding: 8px 10px 8px 17px;
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
.main__title {
    margin: 0 0 24px 0;
}
.main__description-about-me {
    font-family: 'TT Lakes Regular', sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}
.main__text {
    display: flex;
    max-width: 288px;
    font-family: 'TT Lakes Bold', sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}
.main__text::before {
    content: "";
    width: 4px;
    height: 40px;
    background: #41F6D7;
    display: inline-block;
    border-radius: 0 9px 9px 0;
    margin-right: 16px;
}
.main__description-img {
    background-image: url("images/svg/icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.main__description-next {
    text-decoration: none;
    font-family: 'TT Lakes Medium',sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-top: 16px;
}
.main__description__box {
    margin-left: 16px;
    margin-right: 48px;
}
.call, .user, .message {
    display: none;
}
.main__description-continue {
    display: none;
}
.main__description-continue-two {
    display: none;
}
@media (min-width: 650px) {
    .header {
        justify-content: space-between;
    }
    .aside {
        display: none;
    }
    .call {
        background-image: url("images/svg/call.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FF3E79;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
        border: none;
        display: block;
    }
    .message {
        background-image: url("images/svg/message.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FF3E79;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-left: 16px;
        cursor: pointer;
        border: none;
        display: block;
    }
    .user {
        background-image: url("images/svg/user.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FF3E79;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-left: 16px;
        margin-right: 20px;
        cursor: pointer;
        border: none;
        display: block;
    }
    .header__logo-elem::after {
        display: none;
    }
    .header__logo-elem::before {
        content: "";
        height: 32px;
        width: 2px;
        background: #EAEAEA;
        display: inline-block;
    }
    .logo {
        margin: 0 0 0 16px;
    }
    .request::after {
        content: "";
        height: 32px;
        width: 2px;
        background: #EAEAEA;
        display: block;
        margin-left: -20px;
    }
    .main__description {
        display: flex;
        justify-content: space-between;
    }
    .main__description-continue {
        font-family: 'TT Lakes Regular', sans-serif;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
        display: block;
        margin-top: 19px;
    }
    .main__container {
        padding: 24px 24px 0 24px;
    }
    .main__text::before {
        content: "";
        width: 4px;
        height: 40px;
        background: #41F6D7;
        display: inline-block;
        border-radius: 0 9px 9px 0;
        margin-left: -24px;
        position: absolute;
    }
    /*.main__description__box {*/
    /*    margin: 0;*/
    /*}*/
    .main__menu {
        margin: 0 0 24px 0;
    }
    .main__description-continue-two {
        display: none;
    }
}
@media (min-width: 1150px) {
    .header {
        padding: 0;
    }
    .header__container {
        display: none;
    }
    .nav {
        display: none;
    }
    .aside {
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        padding-left: 22px;
    }
    .container {
        display: flex;
    }
    .main_menu {
        flex-wrap: wrap;
    }
    .main__container {
        padding: 42px 22px 0 34px;
    }
    .main__menu {
        margin: 0 0 24px 0;
        flex-wrap: wrap;
    }
    .main__item:last-child {
        margin-left: 58px;
    }
    .nav__item, a {
        list-style-type: none;
        text-decoration: none;
        font-family: 'TT Lakes Regular', sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }
    .main__container-request {
        display: flex;
    }
    .main__container-search {
        display: flex;
    }
    .main__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main__container__elem {
        display: flex;
        gap: 32px;
    }
    .request::after {
        display: none;
    }
    .main__text::before {
        content: "";
        width: 4px;
        height: 40px;
        background: #41F6D7;
        display: inline-block;
        border-radius: 0 9px 9px 0;
        margin-left: -33px;
        position: absolute;
    }
    .main__description__box {
        margin: 0 36px 0 0;
    }
    .main__wrapper {
        display: flex;
    }
    .aside__logo {
        display: flex;
        padding: 36px 29px 22px 0;
        width: 257px;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        margin: 0;
    }
    .search__aside {
        background-image: url("./images/svg/search_aside.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FF3E79;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        cursor: pointer;
        border: none;
    }
    .nav__list {
        display: flex;
        flex-direction: column;
        gap: 28px;
        /* padding-left: 19px; */
    }
    .nav__aside {
        margin-top: 25px;
    }
    .nav__item:nth-child(2) a {
        color: #7E7E82;
    }
    .nav__item:nth-child(2) a::before {
        content: "";
        width: 4px;
        height: 29px;
        background: #41F6D7;
        display: inline-block;
        border-radius: 0 9px 9px 0;
        margin-left: -21px;
        position: absolute;
    }
    .aside__contact {
        display: flex;
        gap: 16px;
        margin-top: 241px;
        /* margin-left: 16px; */
        margin-bottom: 16px;
    }
    .call {
        margin: 0;
    }
    .message {
        margin: 0;
    }
    .user {
        margin: 0;
    }
    .aside__email {
        font-family: 'TT Lakes Regular', sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        /* margin-left: 16px; */
    }
    .aside__number {
        margin: 12px 0 40px 0;
        font-family: 'TT Lakes Bold', sans-serif;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6px;
        color: #1B1C21;
    }
    .aside__language {
        display: flex;
        gap: 7px;
        /* margin-left: 16px; */
        font-family: 'TT Lakes Regular', sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }
    .aside__language p:first-child {
        color: #7E7E82;
    }
    .main__description-continue-two {
        display: inline;
    }
    .aside__language > p {
        cursor: pointer;
    }
    .aside__email {
        cursor: pointer;
    }
    .aside__number {
        cursor: pointer;
    }
}
